{% block rezon_footer_category_links %}
    {# Получаем данные через Twig function напрямую из сервиса #}
    {% set categoryBlocks = context is defined ? getFooterCategoryBlocks(context) : [] %}
    {% set basePath = app.request.basePath|default('') %}

    {% if categoryBlocks is defined and categoryBlocks is not null and categoryBlocks is not empty and categoryBlocks|length > 0 %}
            <div id="footerColumnsCategories" class="row footer-columns" role="list">
                {% for block in categoryBlocks %}
                    <div class="col-md-2 footer-seo-column">
                        

                        <div id="collapseFooterSeoContent{{ loop.index }}"
                             class="footer-column-content collapse js-footer-column-content show"
                             aria-labelledby="collapseFooterSeo{{ loop.index }}"
                             role="listitem">
                            <div class="footer-column-content-inner">
                                <ul class="list-unstyled footer-category-links-list">
                                    {% for category in block.categories %}
                                        <li class="footer-link-item">
                                            {% set categoryName = category.translated.name|default(category.name) %}
                                            {% set categoryUrl = null %}

                                            {% if category.seoUrls is defined and category.seoUrls|length > 0 %}
                                                {% for seoUrl in category.seoUrls %}
                                                    {% if seoUrl.isCanonical is defined and seoUrl.isCanonical %}
                                                        {% set categoryUrl = '/' ~ seoUrl.seoPathInfo %}
                                                        {% break %}
                                                    {% endif %}
                                                {% endfor %}
                                                {% if not categoryUrl %}
                                                    {% set seoUrl = category.seoUrls|first %}
                                                    {% if seoUrl.seoPathInfo is defined %}
                                                        {% set categoryUrl = '/' ~ seoUrl.seoPathInfo %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}

                                            {% if not categoryUrl and category.id is defined %}
                                                {% set categoryUrl = path('frontend.navigation.page', { navigationId: category.id }) %}
                                            {% endif %}

                                            {% if categoryUrl and categoryUrl starts with('/') %}
                                                {% set categoryUrl = basePath ~ categoryUrl %}
                                            {% endif %}

                                            {% if categoryUrl %}
                                                <a class="footer-link"
                                                   href="{{ categoryUrl }}"
                                                   title="{{ categoryName }}">
                                                    {{ categoryName }}{% if block.keyword is defined and block.keyword is not empty %} {{ block.keyword }}{% endif %}
                                                </a>
                                            {% else %}
                                                <span class="footer-category-links-text">{{ categoryName }}{% if block.keyword is defined and block.keyword is not empty %} {{ block.keyword }}{% endif %}</span>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

    {% endif %}
{% endblock %}

